* {
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    color: gray;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    outline: 1px solid black;
}

@font-face {
    font-family: 'Social Media Circled';
    src: url('fonts/Social Media Circled.otf') format('opentype');
}

@font-face {
    font-family: 'Westwood Sans';
    src: url('fonts/WestwoodSans-Regular.ttf') format('truetype');
}

#header {
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: #333333;
}

#header-elements {
    display: flex;
    height: 100px;
    width: 600px;
    margin: auto auto;
}

#header p {
    font-family: 'Westwood Sans', sans-serif;
    color: gray;
    margin: auto auto;
}

#title {
    font-size: 50px;
}

#programs {
    font-size: 25px;
    position: relative;
    top: 8px;
}

#header img {
    height: 60px;
    border: solid 2px gray;
    margin: auto auto;
}

#footer {
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #333333;
}

#footer-elements {
    height: 50px;
    width: 250px;
    display: flex;
    margin: auto auto;
}

#socials {
    font-family: 'Social Media Circled';
    color: gray;
    margin: auto auto;
    display: flex;
    font-size: 25px;
}

#one {
    margin-right: 12px;
}

#two {
    margin-right: 12px;
}

#my-name {
    font-family: 'Westwood Sans', sans-serif;
    color: gray;
    margin: auto auto;
}

#main {
    position: absolute;
    top: 100px;
    bottom: 50px;
    height: auto;
    width: 100%;
    overflow: auto;
    background-color: #222222;
}

#main-container {
    position: relative;
    width: 50%;
    margin: auto;
    background-color: #222222;
}

#main-text {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: dimgray;
    padding-top: 100px;
}
