* {
    background-color: #222222;
    font-family: 'Armata', sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: -20px;
    margin: 0 -8px;
    padding: 0;
    background-color: #333333;
    width: 100%;
}

header p {
    font-size: 25px;
    position: relative;
    top: 40px;
    margin: 0 21px;
    color: floralwhite;
    height: 40px;
    background-color: #333333;
    font-weight: bold;
}

#logo {
    height: 65px;
    width: 65px;
    position: relative;
    top: 25px;
    left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid floralwhite;
}

.mediator {
    height: 45px;
    width: 90px;
    position: relative;
    top: 35px;
    margin: 0px 25px;
    border: 1px solid floralwhite;
}

#name {
    font-size: 40px !important;
    font-weight: bold;
    position: relative;
    top: 30px;
    color: floralwhite;
    height: 50px;
    background-color: #333333;
}









footer {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 33%;
    height: 10px;
    text-align: center;
    background-color: #333333;
}

footer p {
    color: floralwhite;
    padding: 50px;
    padding-top: 10px;
}

